<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© 2021</p>
    </div>

    <div class="col">
        {% for block in section.blocks %}
            <p>{{ block.type }}</p>
            {% if block.type == 'menu' %}
              <nav>
                <ul>
                  {% for link in block.settings.links %}
                    {{link}}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </nav>
            {% endif %}
          {% endfor %}
    </div>
  </footer>
</div>

{% schema %}
{
  "name": "Sixchic Footer",
  "settings": [],
  "blocks": [
    {
      "type": "column",
      "name": "footer",
      "settings": []
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "links",
          "label": "Menu Links"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sixchic Footer"
    }
  ]
}
{% endschema %}