<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© 2021</p>
    </div>

    {% for block in section.blocks %}
      <div class="col">
        <h5>{{ block.settings.title }}</h5>
        <ul class="nav flex-column">
          {% for link in block.settings.menu.links %}
            <li class="nav-item mb-2"><a href="{{ link.url }}" class="nav-link p-0 text-muted">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </footer>
</div>

{% schema %}
{
  "name": "Sixchic Footer",
  "settings": [],
  "blocks": [
    {
      "type": "menu",
      "name": "Footer Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Quick Links"
        },
        {
          "type": "select",
          "id": "menu",
          "label": "Menu",
          "options": "{{ shop.menus }}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sixchic Footer"
    }
  ]
}
{% endschema %}